# Flutter/Dart
.dart_tool/
.packages
pubspec.lock

# Flutter build outputs
build/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
macos/Flutter/GeneratedPluginRegistrant.*
linux/flutter/ephemeral/
windows/flutter/ephemeral/
web/.dart_tool/

# Android
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/**/GeneratedPluginRegistrant.kt
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Runner/GeneratedPluginRegistrant.*

# VSCode / IDE
.vscode/
.idea/
*.iml

# Sistema
.DS_Store
Thumbs.db

# Entorno
.env
.env.*
